.product-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.product-item-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.product-item-info {
  padding: 20px;
}

.product-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden; /* Ensures overflow content is hidden */
  display: -webkit-box; /* Set as a flex container */
  -webkit-line-clamp: 2; /* Limit to two lines */
  -webkit-box-orient: vertical; /* Vertical layout */
}

.product-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}

.product-item-desc{
    color: #676767;
    font-size: 12px;
    overflow: hidden; /* Ensures overflow content is hidden */
    display: -webkit-box; /* Set as a flex container */
    -webkit-line-clamp: 4; /* Limit to two lines */
    -webkit-box-orient: vertical; /* Vertical layout */
}

.product-item-oldprice{
    color: #676767;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}

.product-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}

.price{
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 5px;
    margin-bottom: 10px;
}

.product-item-img-container{
    position: relative;
}

.product-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.product-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: #fff;    
}